

@-webkit-keyframes up-logo-forwards {
  to {
	  -webkit-transform: translate(-37%, -100%);
	  -ms-transform: translate(-37%, -100%);
	  transform: translate(-37%, -100%);
  }
}
@-webkit-keyframes up-logo-back {
  to {
    -webkit-transform: translate(-37%, -33%);
    -ms-transform: translate(-37%, -33%);
    transform: translate(-37%, -33%);
  }
}

@keyframes up-logo-forwards {
  to {
    -webkit-transform: translate(-37%, -100%);
    -ms-transform: translate(-37%, -100%);
    transform: translate(-37%, -100%);
  }
}
@keyframes up-logo-back {
  to {
    -webkit-transform: translate(-37%, -33%);
    -ms-transform: translate(-37%, -33%);
    transform: translate(-37%, -33%);
  }
}



.animated-svg {
  fill: #1bc09b;

}
.animated-svg:target {
  display: block;
}
.hover-animation {
  transition: .3s;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
.animated-svg_logo {
  width: 219px;
  height: 99px;
}

.hover-animation_mini-forward path {
  transform: translate(-37%, -33%);
}

.hover-animation_mini-back path {
  transform: translate(-37%, 33%);
}

.hover-check:hover .hover-animation_mini-forward path {
  animation: up-logo-forwards 0.5s 1;
  animation-direction: alternate;
}
.hover-check:hover .hover-animation_mini-back path {
  animation: up-logo-back 0.5s 1;
  animation-direction: alternate;
}

.hover-animation_background {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transition-property: y, x;
	-moz-transition-property: y, x;
	-ms-transition-property: y, x;
	-o-transition-property: y, x;
	transition-property: y, x;
}
