.custom-title {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: .5s;

	cursor: pointer;
	$parent: &;
  &_center {
    align-items: center;
  }
  &:hover {

    & span {
      color: #1bc09b;

      border-color: transparent;
      &:last-child {
        &::before {
          opacity: 0;
        }
      }
		}
	}
	
  &_with-border {
    span {
      line-height: 68.01px;
      border-bottom: 9px solid #1bc09b;

      transition: inherit;
      @include adaptive (1075) {
        line-height: 35px;
        border-bottom: 5px solid #1bc09b;
      }
      @include adaptive (610) {
	      line-height: 24px;
        border-bottom: 3px solid #1bc09b;
      }
    }
  }
  &_no-border {
    span {
      line-height: 82.01px;
      @include adaptive (1075) {
      		line-height: 50px;
      }
      @include adaptive (610) {
        	line-height: 36px;
      }
    }
  }
  &_not-full-house {
    & span:last-child {
      &::before {
        background-image: url('../img/house-notfull.png');
        right: -20px;
      }
    }
  }
  &_full-house {
    & span:last-child {
      &::before {
        background-image: url('../img/house-full.png');
        right: 0;
      }
		}
		&:hover {
			& span {
				color: rgb(35, 35, 35);
			}
			& span:last-child::before {
				opacity: 1;
			}
		}
  }
  & span {
    color: #232323;
    font-size: 67px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.35px;
  	@include adaptive (1075) {
  		font-size: 40px;
  	}
  	@include adaptive (610) {
  		font-size: 28px;

  	}
    &:last-child {
      &::before {
        content: '';
        width: 94px;
        height: 92px;
		    background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        z-index: -1;

        transition: 0.3s;
		@include adaptive (1075) {
			width: 50px;
			height: 50px;
		}
		@include adaptive (610) {
			width: 35px;
			height: 35px;
		}
      }
    }
  }
}

.custom-subtitle {
	color: #222222;
	font-size: 28px;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	text-align: left;
	margin-bottom: 72px;
	@include adaptive (1075) {
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 40px;
	}
	@include phone {
		font-size: 20px;
	}
	&::before {
		content: '';
		width: 58px;
		height: 11px;
		background-color: #232323;
		position: absolute;
		bottom: -31px;
		left: -58px;
		@include adaptive (1075) {
			height: 6px;
			left: 5px;
			bottom: -20px;
		}
	}
}

.inner-title {
	&__wrap {
		border-bottom: 2px solid #e1f1ed;

		padding-bottom: 72px;
		&::before {
			content: '';
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;

			position: absolute;
			right: 0;
			bottom: 0;
		}
		&_services {
			&::before {
				width: 576px;
				height: 200px;

				background-image: url('../img/inner-title-bg1.png');
			}
		}
	    &_catalog-second-page {
	      &::before {
	        width: 225px;
	        height: 150px;

	      	background-image: url('../img/inner-title3.png');
	        background-position-y: 0.5px;

	        right: 0;
	      }
	    }
		&_catalog-second-page {
		  &::before {
			width: 225px;
			height: 150px;

			background-image: url('../img/inner-title3.png');
			background-position-y: 0.5px;

			right: 0;
		  }
		}
		&_catalog-galery {
			&::before {
				width: 396px;
				height: 120px;

				background-image: url('../img/gallery-title.png');
				background-position-y: 0.5px;

				right: 66px;
			}
		}
		&_contacts {
			&::before {
				width: 523px;
				height: 157px;

				background-image: url('../img/contacts-inner.png');

				right: 45px;
			}
		}
		&_catalog-page {
			&::before {
				width: 412px;
				height: 179px;

				background-image: url('../img/inner-title-bg2.png');

				background-position-y: 42px;

			    right: 50px;
			}
		}
		&_facades {
			&::before {
				width: 139px;
				height: 150px;

				background-image: url('../img/products4.png');

				right: 0;
			}
		}
		&_no-border {
			border-bottom: none;
		}


	}
}

.inner-subtitle {
  color: #222222;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.4px;
  &_margin-bottom {
    margin-bottom: 75px;
  }
  &_with-margin {
    margin: 66px 0px 76px;
  }
  &::before {
     content: '';

     width: 58px;
     height: 11px;

     background-color: #232323;

     position: absolute;
     bottom: -30px;
     left: -58px;
  }
}

.text-block {
  margin-bottom: 70px;

  & p {
    color: #232323;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px;

    margin: 0;
  }

}
