.navigation {
  width: 100%;
  @include adaptive (610) {
	  width: 100%;
	  height: 100%;
	  max-width: 100vw;
	  max-height: 100vh;
	  display: -webkit-flex;
	  display: -ms-flex;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  position: fixed;
	  top: 0;
	  right: -100%;
	  background: #0dc4a0;
	  overflow: auto;
	  -webkit-overflow-scrolling: touch;
	  z-index: 12;
	  transition: .5s;
	  &.isActive {
		  right: 0;
	  }
  }
  @include phone {
	  width: 100%;
	  right: -100%;
  }
  &__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: 69px;
    @include adaptive (775) {
      margin-top: 25px;
    }
    @include adaptive (610) {
      flex-direction: column;
	  align-items: center;
	  justify-content: center;

	  margin-top: 0;
    }
  }
  &__item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    @include adaptive (610) {
      margin: 10px 0;
    }
  }
  &__link {
    color: #232323;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.42px;
    display: block;
    transition: .3s;
	&:hover {
		&::before {
			width: 237px;
			height: 237px;
			@include adaptive (1075) {
				width: 160px;
				height: 160px;
			}
			@include adaptive (610) {
				display: none;
			}
		}
	}
	&::before {
		content: '';
		width: 0;
		height: 0;

		background-image: url('../img/nav-hover.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 50%;

		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -60%);
		transition: .3s;
		z-index: -1;
	}
    @include adaptive (775) {
      font-size: 15px;

    }
	@include adaptive (610) {
		color: #ffffff;
		font-size: 28px;
		font-weight: 700;
		line-height: 42.51px;
		text-transform: uppercase;
		letter-spacing: 2.7px;
		&:hover {
			color: #282828;
		}
	}
    &.isActive {
      color: #1bc09b;
    }
  }
  &__additional {
    color: #232323;
    font-size: 12px;
	line-height: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    position: absolute;
    top: calc(100% + 14px);
    @include adaptive (775) {
      top: calc(100% + 7px);
      font-size: 11px;
    }
    @include adaptive (610) {
      display: none;
    }
  }
}
