.actions {
	border-top: 2px solid #e1f1ed;
	border-bottom: 2px solid #e1f1ed;
	@include phone {
		border: none;
	}
	$parent: &;
	&__wrap {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: stretch;
		@include phone {
			flex-direction: column;
		}
	}
	&__item {
		width: 50%;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 58px;
		padding-bottom: 69px;
		cursor: pointer;
		&:last-child {
			padding-left: 58px;
			@include adaptive (775) {
				padding-left: 0;
			}
			@include phone {
				padding-left: 0px;
				padding-right: 0;
			}
			& #{$parent}__icon {
				margin-left: 40px;
			}
			& #{$parent}__text {
				top: calc(50% - 43px);
				@include adaptive (1075) {
					top: auto;
				}
			}

		}
		&:first-child {
			padding-right: 37px;
			@include adaptive (775) {
				padding-right: 0;
			}
			@include phone {
				padding-left: 0px;
				padding-right: 0;
			}
			& #{$parent}__icon {
				margin-right: 20px;
				@include phone {
					margin-right: 0;
				}
			}
		}
		&:hover {
			& #{$parent}__title {
				& span {
					color: #1bc09b;
					&::after {
						opacity: 0;
					}
					&:last-child {
						&::before {
							opacity: 0;
						}
					}
				}
			}
		}

		&:nth-child(1) {
			border-right: 2px solid #e1f1ed;
			@include phone {
				border: none;
			}

			& * {
				pointer-events: none;
			}
		}
		@include adaptive (775) {
			padding-top: 25px;
			padding-bottom: 35px;
		}
		@include phone {
			width: 100%;
			padding: 15px;
			padding-right: 0;
			padding-bottom: 20px;
		}
	}
	&__icon {
		margin-right: -37px;
		margin-bottom: 15px;
		& object {
			width: 138px;
			height: 148px;
		}
		@include adaptive (1075) {
			margin-bottom: 10px;
		}
		@include phone {
			margin-right: 0;
		}
	}
	&__text {
		font-size: 15px;
		line-height: 17px;
		font-weight: 400;
		letter-spacing: 0.38px;
		position: absolute;
		right: 35px;
		top: calc(50% - 60px);
		@include adaptive (1075) {
			text-align: center;
			margin: 10px;
			position: relative;
			right: auto;
			top: auto;
			& br {
				display: none;
			}
		}
	}
}
