.distributing-page {
	margin: 73px 0px 130px;
	&__image {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		-o-object-fit: contain;
		object-fit: contain;
	}
	&__svg {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 27px;
		left: 26px;
		z-index: 2;
		& svg {
			width: 37px;
			height: 15px;
		}
	}
	&__wrap {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: stretch;

	}
	&__column {
		flex-grow: 1;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;

	}
	&__name {
		width: 100%;
		color: #ffffff;
		font-size: 25px;
		font-weight: 500;
		letter-spacing: 1.25px;

		border-top: 1px solid white;

		margin-top: auto;
		padding-top: 21px;
	}
	&__item {
		width: 391px;
		height: 301px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		padding: 22px 26px;
		cursor: pointer;

		transition: .3s;
		overflow: hidden;
		& a {

			width: 100%;
			height: 100%;

			position: absolute;
			top: 0;
			left: 0;
			z-index: 6;
		}
		&:hover {
			& svg {
				fill: white;
			}
			&::before {
				width: 1700px;
				height: 1700px;
			}
		}
		&::before {
			content: '';
			width: 1180px;
			height: 1180px;

			background: transparent;
			border: 430px solid #1bc09b75;
			border-radius: 50%;

			position: absolute;
			top: 0;
			left: 0;

			pointer-events: none;
			z-index: 1;
			transform: translate(-48%, -45%);

			transition: .3s;
		}
		&_big {
			height: 481px;
			&:hover {
				&::before {
					width: 1700px;
					height: 1600px;

					top: -170px;
				}
			}
		}
	}
}
