.distributing-page {
	margin: 0 0 130px;
	@include adaptive(775) {
		margin-bottom: 60px;
	}
	&__image {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		-o-object-fit: contain;
		object-fit: contain;
	}
	&__svg {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 27px;
		left: 26px;
		z-index: 2;
		@include adaptive(1075) {
			top: 10px;
			left: 12px;
		}
		& svg {
			width: 37px;
			height: 15px;
		}
	}
	&__wrap {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: stretch;
		margin-right: 73px;
		margin-top: 73px;
		@include adaptive(1075) {
			width: 100%;
			margin-right: 0;
			margin-top: 40px;
		}
		@include adaptive(775) {
			flex-direction: column;

		}

	}
	&__column {
		flex-grow: 1;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;

		@include adaptive(1075) {
			width: calc(100% / 3);
		}
		@include adaptive(775) {
			width: 100%;
			align-items: center;
		}

	}
	&__name {
		width: 100%;
		color: #ffffff;
		font-size: 25px;
		font-weight: 500;
		letter-spacing: 1.25px;

		border-top: 1px solid white;

		margin-top: auto;
		padding-top: 21px;
		@include adaptive(1075) {
			font-size: 18px;
			padding-top: 13px;
		}
	}
	&__item {
		width: 391px;
		height: 301px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		padding: 22px 26px;
		cursor: pointer;

		transition: .3s;
		overflow: hidden;
		@include adaptive(1075) {
			width: 100%;
			height: 150px;
			padding: 10px 12px;
		}
		@include adaptive(775) {
			max-width: 400px;
			height: 230px;
		}
		@include phone {
			height: 175px;
		}
		& a {

			width: 100%;
			height: 100%;

			position: absolute;
			top: 0;
			left: 0;
			z-index: 6;
		}
		&:hover {
			& svg {
				fill: white;
			}
			&::before {
				width: 1700px;
				height: 1600px;
				top: -150px;
			}
		}
		&::before {
			content: '';
			width: 1180px;
			height: 1180px;

			background: transparent;
			border: 430px solid #1bc09b75;
			border-radius: 50%;

			position: absolute;
			top: 0;
			left: 0;

			pointer-events: none;
			z-index: 1;
			transform: translate(-48%, -45%);

			transition: .3s;
			@include adaptive(1075) {
				width: 750px;
				height: 750px;
				border: 300px solid #1bc09b75;
			}
			@include adaptive(775) {
				width: 1180px;
				height: 1180px;
				border: 430px solid #1bc09b75;
			}
			@include phone {
				width: 750px;
				height: 750px;
				border: 300px solid #1bc09b75;
			}
		}
		&_big {
			height: 481px;
			@include adaptive(1075) {
				height: 300px;
			}
			@include adaptive(775) {
				height: 430px;
			}
			@include phone {
				height: 292px;
			}
			&:hover {
				&::before {
					width: 1700px;
					height: 1700px;

					top: -25px;
				}
			}
		}
	}
}
