.footer {
	padding: 15px 0;
	background-color: #e1f1ed;
	&__wrap {
		color: #009876;
		font-size: 15px;
		letter-spacing: 0.38px;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		&_sb {
			@include adaptive (1375) {
				justify-content: space-between;
			}
		}
		&_margin {
			margin-bottom: 60px;
			margin-top: 20px;
			@include adaptive (1075) {
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
		@include adaptive (775) {
			font-size: 13px;
		}
		@include adaptive (610) {
			flex-direction: column;
		}
	}
	&__list {
		max-width: 670px;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;

		padding: 0;
		margin: 0;
		@include adaptive (1075) {
			display: none;
		}
	}
	&__address {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: flex-start;

		margin-left: 40px;
		@include adaptive (610) {
			margin-left: 0;

			margin-bottom: 10px;
		}
	}
	&__icon {
		flex-shrink: 0;
		margin-right: 23px;
	}

	&__right {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		flex-shrink: 0;
		@include adaptive (1375) {
			flex-direction: column;
			align-items: flex-start;
		}
		@include adaptive (1075) {
			flex-direction: row;
		}
		@include adaptive (610) {
			flex-direction: column;
		}

	}
	&__item {
		width: calc(100% / 4);
		& a {
			font-size: inherit;
			color: inherit;
			font-weight: inherit;
			line-height: inherit;

			display: block;

			margin-bottom: 10px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__social {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__link {
		margin-left: 56px;
		@include adaptive (775) {
			margin-left: 15px;
		}
		@include adaptive (610) {
			margin-left: 0;
			margin: 10px 0;
		}
	}
}
