.galery-block {
	margin-top: 73px;
	$parent: &;
	& a {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
	}
	&__wrap {
		margin-top: 66px;
		margin-bottom: 69px;
	}
	&__desc {
		color: #232323;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0.38px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;

		margin-top: 65px;
	}
	&__top {
		width: 100%;
	}
	&__item {
		height: 284px!important;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		&:hover {
			& #{$parent}__image {
				&::before {
					background: #1bc09b;
				}
			}
			& #{$parent}__name,
			& #{$parent}__subtitle {
				opacity: 1;
			}
		}
	}
	&__image {
		width: 100%;
		height: 100%;

		position: absolute;
		left: 0;
		top: 0;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;

		object-fit: cover;
		& img {
			height: 100%;
		}
		&::before {
			content: '';
			width: 100%;
			height: 100%;

			background: #1bc09b75;

			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			pointer-events: none;
			transition: .3s;
		}
	}
	&__name,
	&__subtitle {
		z-index: 4;
		opacity: 0;
		transition: .3s;
		cursor: pointer;
	}
	&__name {
		color: #ffffff;
		font-size: 28.1px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.4px;
		text-align: center;

		pointer-events: none;
		transition: .3s;
	}
	&__subtitle {
		color: #ffffff;
		font-size: 15.1px;
		font-weight: 500;
		line-height: 22.99px;
		letter-spacing: 0.38px;


		pointer-events: none;
		margin-top: 16px;

	}
	&__svg {
		position: absolute;
		right: 20px;
		bottom: 23px;
		& svg {
			width: 37px;
			height: 15px;

			fill: white;
			z-index: 3;
		}

	}
}
