.classic-button {
	color: #1bc09b;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.38px;
	border-radius: 6px;
	border: none;
	background-color: #454647;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .3s;
	padding: 13px 60px;
		@include adaptive (1075) {
	    font-size: 13px;
	    padding: 9px 23px;
		}
	&_white {
		border: 2px solid #d7eae5;
		background: white;
	}

}

.green-text {
	color: $solidgreen;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.38px;
	@include adaptive (1075) {
		font-size: 13px;
	}
}
