.text {
  &-input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    border: 1px solid #cef6ff;
    background-color: #ffffff;
  	padding: 10px 21px;
    @include placeholder {
      font-size: inherit;
      line-height: inherit;
    }
  }
  &-select {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    border: 1px solid #cef6ff;
    background-color: #ffffff;
  	padding: 10px 21px;
    -webkit-appearance: menulist;
  }
  &-area {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border: 1px solid #cef6ff;
    background-color: #ffffff;
    padding: 10px 21px;
    resize: vertical;
    @include placeholder {
      font-size: inherit;
      line-height: inherit;
    }
  }
}
.checkbox {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
  $parent: &;
  &__box:checked + #{$parent}__span::after {
    width: 14px;
  }
  &__box:checked + #{$parent}__span::before {
    width: 7px;
  }
  &__box {
    line-height: 0;
    font-size: 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    & a {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
    @include adaptive (1180) {
      line-height: 24px;
    }
  }
  &__span {
    width: 18px;
    height: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    display: block;
    flex-shrink: 0;
    margin-right: 5px;
    &::before {
      content: '';
      width: 0;
      height: 2px;
      background-color: black;
      display: block;
      position: absolute;
      top: 50%;
      left: 6px;
      border-radius: 5px;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg);
      transition: 0.6s;
    }
    &::after {
      content: '';
      width: 0;
      height: 2px;
      background-color: black;
      display: block;
      position: absolute;
      top: 35%;
      right: 3px;
      border-radius: 5px;
      -webkit-transform: translate(50%, -50%) rotate(-45deg);
      transform: translate(50%, -50%) rotate(-45deg);
      transition: 0.6s;
    }
  }
}
